<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
      <div class="form-group">
        <label for="title">title</label>
        <input type="text" [(ngModel)]="book.title" 
          class="form-control" id="title" name="title" placeholder="Enter the title"
          required #title="ngModel">
          <div [hidden]="!title.pristine" class="alert alert-danger">title is required</div>
      </div>
    
      <div class="form-group">
        <label for="author">author</label>
        <input type="text" [(ngModel)]="book.author" 
          class="form-control" id="author" name="author" placeholder="Enter the author"
          required #author="ngModel">
          <div [hidden]="!author.pristine" class="alert alert-danger">author is required</div>
      </div>
    
      <div class="form-group">
        <label for="release">release</label>
        <input type="text" [(ngModel)]="book.release" 
          class="form-control" id="release" name="release" placeholder="Enter the release date"
          required #release="ngModel">
        <div [hidden]="!release.pristine" class="alert alert-danger">Release date is required</div>
      </div>
      <button type="submit" [disabled]="!bookForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>